* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Sora";
}

html, body {
    width: 100%;
    min-height: 100vh;
    padding: 0.6rem;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 2rem;
    line-height: 1.5rem;
}

p, header li {
    color: rgb(71, 71, 71);
}

.container {
  background-color: #F5C044; 
  position: relative;
  width: 2rem;
  height: 2rem; 
  aspect-ratio: auto;
  overflow: hidden;
  border-radius: 50%; 
  display: flex;
}

.container img {
  width: 1.3em;
  height: 1.3em;
  margin: auto;
  object-fit: cover;
  display: block;
  filter: brightness(1.4);

  -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,0.9), rgba(0,0,0,0.2));
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  -webkit-mask-position: center;

  mask-image: linear-gradient(to top, rgba(0,0,0,0.9), rgba(0,0,0,0.2));
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
  mask-position: center;
}



ul {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

header li {
    list-style: none; 
    display: flex;           
    align-items: center;      
    gap: 0.5rem; 
    font-size: 0.8rem;
}

header li::before {
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    background: url('resources/Done_ring_round_fill.svg') no-repeat center/contain;
    flex-shrink: 0;         
}

.icons {
    display: flex;
    gap: 0.4rem;
    align-items: center;
}

#google {
    align-items: flex-start;
}

.logo {
    width: 5rem;
    aspect-ratio: auto;
    display: inline;
    margin-right: 0.6rem;
}

section {
    /* background-color: aquamarine; */
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
    border-radius: 1rem;
    line-height: 1.4rem;
}

section h2{
    font-size: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (min-width: 600px) {
    html, body {
        padding: 1rem 2rem; 
    }

    header p {
        max-width: 80%; 
    }

    main {
        width: 80%; 
        margin: auto;
    }

    section {
        width: clamp(350px, 60% + 2em, 397px); 
    }

    #right {
        align-self: flex-end;
    }
}

@media screen and (min-width:1024px) {
    html, body{
        display: flex;
        align-items: center;
        padding: 0 3rem;
    }

    header {
        flex: 1;
    }

    header p {
        width: 44ch;
    } 

    main {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    section {
        width: clamp(300px, 60% + 2em, 336px);
    }

    
}

